.gameboard {
    border: 0px solid black;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.box {
    border: 1px solid black;
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 2vw; /*vw = view width*/
}

.left-border{
    border-left: 2px solid black;
}

.right-border{
    border-right: 2px solid black;
}

.top-border{
    border-top: 3px solid black;
}

.bottom-border{
    border-bottom: 2px solid black;
} 

.island{
    background-color: green;
}

.list-group-item {
    word-wrap: break-word;
    margin: 0;
    padding: 10px;
}

.fill-width{
    width: 100%;
}